body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.weather-form {
  background: white;
  max-width: 600px;
  margin: 30 px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 15px;
  width: 80%;
  font-size: 16 px;
  padding: 15px 20px;
}

.search-form-button {
  background: #346792;
  padding: 15px 20px;
  border: none;
  font-size: 15px;
  margin-left: 5px;
  border-radius: 15px;
  color: white;
}

main {
  padding: 30 px 0;
}

.weather-app-content {
  display: flex;
  justify-content: space-between;
}

.city-input {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-details strong {
  color: #346792;
}

.temperature-details {
  display: flex;
}

.icon {
  font-size: 45px;
  width: 60px;
  height: 60px;
  margin-top: 50px;
}

.temperature {
  font-size: 60px;
  margin-left: 10px;
  margin-top: 40px;
  font-weight: bold;
}

.temperture-unit {
  font-size: 20px;
  margin-top: 43px;
}
footer {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0.6);
}
